html {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body {
    margin: 1.5em;
}

@for $index from 1 through 6 {
    h#{$index} {
        font-weight: 200;
        line-height: 1.5em;
        letter-spacing: -0.025em;
    }
}

#frame {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "sidebar"
        "main"
        "footer";
}



p {
    margin-top: 1.25em;
}

#header {
    grid-area: header;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        letter-spacing: 0.2rem;
        font-weight: normal;

        a {
            text-decoration: none;
        }
    }
}

#sidebar {
    grid-area: sidebar;
    margin-right: 1em;
    font-size: .9em;
    hyphens: auto;

    p:first-of-type {
        margin-top: 0.5em;
    }

    p.flex {
        display: flex;
        align-items: center;
        font-size: 1rem;

        .icon {
            margin-right: .5em;
            height: 1.5rem;
            width: auto;
        }
    }


    .sidenote {
        color: #666666;
        font-size: .75em;
    }

    h1 {
        margin-top: 0;
    }
}


#main {
    grid-area: main;

    @for $index from 1 through 6 {
        h#{$index} {
            font-weight: bold;
            margin-top: 1.25em;
            margin-bottom: 1em;
            border-bottom: 2px solid currentColor;
            display: inline-block;
            line-height: 1;
            width: 100%;
            text-shadow:
                2px 2px white,
                2px -2px white,
                -2px 2px white,
                -2px -2px white;
        }

        h#{$index}+p {
            margin-top: 0em;
        }
    }
}

#footer {
    grid-area: footer;
    text-align: center;
    font-size: 11pt;
    color: #555;
}

#merlin {
    border-radius: 50%;
    max-width: 100%;
    display: block;
}

@media only screen and (min-width: 800px) {
    #frame {
        width: 90%;
        grid-template-columns: 30% auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer";
    }
    #main {
        margin-left: 1em;
    }
}

@media only screen and (min-width: 1200px) {
    #frame {
        width: 75%;
    }
}

@media only screen and (min-width: 400px) {
    #merlin {
        max-width: 60%;     
        margin: 0 auto;
    }
}

@media only screen and (min-width: 800px) {
    #merlin {
        max-width: 90%;
    }
}
